version: "3.8"
services:
  dev-postgres:
    image: postgres:14.4-alpine
    ports:
      - "5434:5432"
    environment:
      POSTGRES_USER: t3-user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: t3-sample
    restart: always
    networks:
      - sample-network
networks:
  sample-network: